include ../../components/card/card.pug

section.dashboard-devices
  .widget-devices
    .widget-devices-list
      .widget-devices-item
        +card("sun_active", "Xiaomi Yeelight LED Smart Bulb", "Включено")
      .widget-devices-item
        +card("sun", "D-Link Omna 180 Cam", "Включится в 17:00")
      .widget-devices-item
        +card("temperature", "Elgato Eve Degree Connected", "Выключено до 17:00")
      .widget-devices-item
        +card("sun", "LIFX Mini Day & Dusk A60 E27", "Включится в 17:00")
      .widget-devices-item
        +card("sun_active", "Xiaomi Mi Air Purifier 2S", "Включено")
      //- .widget-devices-item
      //-   +card("sun_active", "Philips Zhirui", "Включено")
      //- .widget-devices-item
      //-   +card("sun_active", "Philips Zhirui", "Включено")
      //- .widget-devices-item
      //-   +card("sun_active", "Philips Zhirui", "Включено")