@import "../../styles/vars";
@import "../../styles/media";

.widget-devices {
  overflow: hidden;
  height: 120px;
  margin: 0 (-$paddingSideDesktop);
  max-width: calc(100% + $paddingSideDesktop * 2);

  @include media("mobile") {
    margin: 0 (-$paddingSideMobile);
    max-width: calc(100% + paddingSideMobile * 2);
  }

  &-list {
    display: flex;
    padding-left: 20px;
    overflow: hidden;
    transition: 0.4s ease;

    @include media("mobile") {
      overflow: auto;
    }
  }

  &-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
