.widget-devices {
  overflow: hidden;
  height: 120px;
  margin: 20px -40px;
  max-width: calc(100% + 80px);

  @media screen and (max-width: 768px) {
    margin: 20px -20px;
    max-width: calc(100% + 40px);
  }

  &-list {
    display: flex;
    padding-left: 20px;
    overflow: hidden;
    transition: 0.4s ease;

    @media screen and (max-width: 768px) {
      overflow: auto;
    }
  }

  &-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
