h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.visible {
  visibility: visible;
}
