* {
  margin: 0;
  padding: 0;
}
#termostat-marks line:nth-child(-n) {
  stroke: #f5a623;
}

.termostat {
  position: relative;
  width: 221px;
  height: 221px;
  padding: 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.termostat-marks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.termostat-marks__line {
  stroke-width: 1px;
  stroke: #333333;
  opacity: 0.7;
}

.termostat-circle {
  background: #fefefe;
  -webkit-box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  width: 178px;
  height: 178px;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.termostat-arrow {
  height: 50%;
  width: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

.termostat-arrow:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  bottom: 0;
  left: -10px;
  border-radius: 1px;
}

.termostat-value {
  font-family: Arial-BoldMT;
  font-size: 66px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  pointer-events: none;
}