.filters {
  &-list {
    &__item {
      display: inline-block;
      border-radius: 20px;
      background: #f7f7f7;
      padding: 8px 15px;
      font-weight: 700;
      font-size: 13px;
      margin-right: 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &_state {
        &-active {
          background: #ffd93e;
        }
      }
    }
  }
}
