include ../../components/card/card.pug

section.dashboard-scripts
  .widget-scripts
    .widget-scripts-list
      .widget-scripts__page
        .widget-scripts-item
          +card("sun_active", "Выключить весь свет в доме и во дворе", "", "scripts")
        .widget-scripts-item
          +card("scheduled", "Я ухожу", "", "scripts")
        .widget-scripts-item
          +card("sun_active", "Включить свет \u2028в коридоре", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Набрать горячую ванную", "Начнётся в 18:00", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")

      .widget-scripts__page
        .widget-scripts-item
          +card("sun_active", "Выключить весь свет в доме и во дворе", "", "scripts")
        .widget-scripts-item
          +card("scheduled", "Я ухожу", "", "scripts")
        .widget-scripts-item
          +card("sun_active", "Включить свет \u2028в коридоре", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Набрать горячую ванную", "Начнётся в 18:00", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")
        .widget-scripts-item
          +card("temperature_active", "Сделать пол тёплым во всей квартире", "", "scripts")

      .widget-scripts__page
        .widget-scripts-item
          +card("sun_active", "Выключить весь свет в доме и во дворе", "", "scripts")
        .widget-scripts-item
          +card("scheduled", "Я ухожу", "", "scripts")
        .widget-scripts-item
          +card("sun_active", "Включить свет \u2028в коридоре", "", "scripts")