@import "../../styles/vars";
@import "../../styles/media";

.widget-scripts {
  overflow: hidden;

  @include media("mobile") {
    width: 100vw;
    margin: 20px -$paddingSideMobile 0 -$paddingSideMobile;
    height: 100px;
  }

  &-item {
    padding-right: 15px;
    width: 33.33%;

    @media screen and (min-width: 768px) {
      &:nth-child(3n) {
        padding-right: 0px;
      }
    }
  }

  &-list {
    display: flex;
    transition: 0.4s ease;
    width: 300%;

    @include media("mobile") {
      width: 100%;
      padding-left: $paddingSideMobile;
      overflow-y: auto;
      flex-wrap: nowrap;
    }
  }

  &__page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media("mobile") {
      flex-wrap: nowrap;
      width: auto;
    }
  }
}
