.widget-scripts {
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100vw;
    margin: 20px -20px 0 -20px;
    height: 100px;
  }

  &-item {
    margin-right: 15px;

    @media screen and (min-width: 768px) {
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }

  &-list {
    display: flex;
    transition: 0.4s ease;
    width: 300%;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding-left: 20px;
      overflow-y: auto;
      flex-wrap: nowrap;
    }
  }

  &__page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      flex-wrap: nowrap;
      width: auto;
    }
  }
}
