section.dashboard-main.dashboard-main_type-background
  header.dashboard-main__header
    h2.dashboard-main__title Привет Генадий
    p.dashboard-main__status Двери и окна закрыты, сигнализация включена.

  .widget-temp
    .widget-temp-item
      .widget-temp-item__title Дома
      .widget-temp-item__value +23
    
    .widget-temp-item
      .widget-temp-item__title За окном
      .widget-temp-item__value +19
        .widget-temp-item__icon
          +icon("cloud-drizzle", 26)