include ../icon/icon.pug

header.header
  .header-logotype
    a(href="#")
      img.logotype(src="/images/logo@2x.png")

  nav.header-menu
    ul.header-menu-list
      li.header-menu-list__item.header-menu-list__item_state-active
        a(href="#") Сводка
      li.header-menu-list__item
        a(href="#") Устройства
      li.header-menu-list__item
        a(href="#") Сценарии
    
    div.header-menu__burger(tabindex=0)
      +icon("burger", 16)
    