header.header
  .header-logotype
    a(href="#")
      img.logotype(src="/images/logo@2x.png")

  nav.header-menu
    ul.menu-list
      li.menu-list__item.menu-list__item_state-active
        a(href="#") Сводка
      li.menu-list__item
        a(href="#") Устройства
      li.menu-list__item
        a(href="#") Сценарии
    
    // div.menu-list__burger
    