footer.footer
  ul.footer-links
    li.footer-links__item
      a(href="#") Помощь
    li.footer-links__item
      a(href="#") Обратная связь
    li.footer-links__item
      a(href="#") Разработчикам
    li.footer-links__item
      a(href="#") Условия использования
  
  div.footer-copyright © 2001–2017  ООО «Яндекс»