.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 27px;
  background: #fff;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  &-links {
    &__item {
      display: inline-block;
      font-size: 12px;
      color: #858585;
      letter-spacing: 0.01px;
      text-align: left;
      font-family: ArialMT;
      padding-right: 15px;
    }
  }

  &-copyright {
    font-size: 12px;
    color: #858585;
    letter-spacing: 0.01px;
    text-align: left;
  }
}
