mixin filters(className, filtersList)
    div(class=className).filters
      each val, index in filtersList
        if index==0
          button.filters__item.filters__item_state-active= val
        else
          button.filters__item= val