mixin filters(className)
  .filters(class=className)
    ul.filters-list
      li.filters-list__item.filters-list__item_state-active Все
      li.filters-list__item Кухня
      li.filters-list__item Зал
      li.filters-list__item Лампочки
      li.filters-list__item Камеры