include ./head.pug

body
  main.application
    include ../components/header/header.pug
    div.application-content
      block content
    include ../components/footer/footer.pug

include ./scripts.pug