.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial;
  min-width: 1366px;

  @media screen and (max-width: 768px) {
    min-width: 100%;
  }

  &-content {
    flex: 1;

    @media screen and (max-width: 768px) {
      margin-top: 51px;

      @supports (position: sticky) {
        margin-top: 0;
      }
    }
  }

  &_state {
    &-frozen {
      height: 100vh;
      overflow: hidden;
    }

    &-blured {
      filter: blur(3px);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  box-sizing: border-box;
}
