.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;

  @media screen and (max-width: 768px) {
    min-width: 100%;
  }

  &-content {
    flex: 1;

    @media screen and (max-width: 768px) {
      margin-top: 51px;

      @supports (position: sticky) {
        margin-top: 0;
      }
    }
  }

  &_state {
    &-frozen {
      height: 100vh;
      overflow: hidden;
    }

    &-blured {
      filter: blur(3px);
    }
  }
}
