@import "../styles/media";

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;

  @include media("mobile") {
    min-width: 100%;
  }

  &-content {
    flex: 1;

    @include media("mobile") {
      margin-top: 51px;

      @supports (position: sticky) {
        margin-top: 0;
      }
    }
  }

  &_state {
    &-frozen {
      height: 100vh;
      overflow: hidden;
    }

    &-blured {
      filter: blur(3px);
    }
  }
}
