.pager {
  display: flex;
  align-items: baseline;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__page {
    height: 20px;
    transition: 0.2s ease;

    &_back {
      margin-right: 22px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
